<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>東京から見て、地球の裏側にあるのは？</key>
	<dict>
		<key>ブラジル</key>
		<false/>
		<key>ウルグアイ</key>
		<false/>
		<key>アルゼンチン</key>
		<false/>
		<key>大西洋</key>
		<true/>
	</dict>
	<key>血液が1秒間に移動している距離は？</key>
	<dict>
		<key>1mm</key>
		<false/>
		<key>1cm</key>
		<false/>
		<key>1m</key>
		<false/>
		<key>1km</key>
		<true/>
	</dict>
	<key>世界で総生産量が最も多い果物は？</key>
	<dict>
		<key>ぶどう</key>
		<true/>
		<key>みかん</key>
		<false/>
		<key>りんご</key>
		<false/>
		<key>バナナ</key>
		<false/>
	</dict>
	<key>キリンの角は何本？</key>
	<dict>
		<key>2</key>
		<false/>
		<key>3</key>
		<false/>
		<key>4</key>
		<false/>
		<key>5</key>
		<true/>
	</dict>
	<key>日本より人口密度の大きい国は？</key>
	<dict>
		<key>中国</key>
		<false/>
		<key>韓国</key>
		<true/>
		<key>タイ</key>
		<false/>
		<key>ドイツ</key>
		<false/>
	</dict>
	<key>部首が「乙」ではない漢字は？ </key>
	<dict>
		<key>九</key>
		<false/>
		<key>几</key>
		<true/>
		<key>也</key>
		<false/>
		<key>乳</key>
		<false/>
	</dict>
	<key>1人あたりの年間食料廃棄量（食べ残し量）が最も多い国は？</key>
	<dict>
		<key>日本</key>
		<true/>
		<key>イギリス</key>
		<false/>
		<key>イタリア</key>
		<false/>
		<key>アメリカ</key>
		<false/>
	</dict>
	<key>iPhoneの発売日は？</key>
	<dict>
		<key>2006年6月29日</key>
		<false/>
		<key>2007年6月29日</key>
		<true/>
		<key>2008年6月29日</key>
		<false/>
		<key>2009年6月29日</key>
		<false/>
	</dict>
</dict>
</plist>
